<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ block_title }}</title>
        <!-- <link rel="stylesheet" href="style.css">
        <script src="script.js"></script> -->
    </head>
    <body>
        {% block nav %}
        <ul id="nav">
            <li>{% block nav-home %}<a href="{% url 'index' %}">Home</a>{% endblock %}</li>
            <li>{% block nav-update %}<a href="{% url 'update' %}">Update</a>{% endblock %}</li>
            <li>{% block import_historic_quotes %}<a href="{% url 'import_historic_quotes' %}">Import Historic Quotes</a>{% endblock %}</li>
            <li>{% block nav-rolling_profitability %}<a href="{% url 'rolling_profitability' %}">Rolling Profitability</a>{% endblock %}</li>
        </ul>
        {% endblock %}
        {% block content %}
            Say my name
        {% endblock %}
    </body>
</html>