{% load filters %}
{% load admin_urls %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <!--Apple Web App-->
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="minimum-scale=0.5, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
        <!--<link rel="apple-touch-icon" href="homescreen.png"/>-->
        <!--<link href="startup.png" rel="apple-touch-startup-image" />-->
        <!--Apple Web App Ende-->
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

        <script src="{% static "core/jquery-1.11.1.min.js" %}" type="text/javascript"></script>

        <script src="{% static "core/Chart.min.js" %}" type="text/javascript"></script>
        <script src="{% static "core/raphael-min.js" %}" type="text/javascript"></script>

        <title>{{ block_title }}</title>

        {% block extrahead %} {% endblock %}

    </head>
    <body>
        {% block nav %}
        <div class="nav">
            <ul>
                <!--<li>{% block nav-home %}<a href="{% url 'index' %}">Home</a>{% endblock %}</li>-->
                <li id="nav_overview">{% block nav-new-invest %}<a href="{% url 'new_invest' %}">Overview</a>{% endblock %}</li>
                <li id="nav_pf_overview">{% block nav-portfolio_overview %}<a href="{% url 'portfolio_overview' %}">Portfolio Overview</a>{% endblock %}</li>

                <li id="nav_pf_development">{% block nav-portfolio_development %}<a href="{% url 'portfolio_development' %}">Portfolio Development</a>{% endblock %}</li>
                <li id="nav_pf_rolling_profitability">{% block nav-rolling_profitability %}<a href="{% url 'rolling_profitability' %}">Rolling Profitability</a>{% endblock %}</li>
                <li id="nav_forecast">{% block nav-forecast_retirement %}<a href="{% url 'forecast_retirement' %}">Forecast Retirement</a>{% endblock %}</li>
                <!--<li  id="nav_stock_graph">{% block nav-stock_graph %}<a href="{% url 'stock_graph' %}">Stock Graph</a>{% endblock %}</li>-->

            </ul>
        </div>
        <div class="divide"></div>
        <div class="nav">
            <ul>
                <li id="nav_import">{% block nav-import-all %}<a href="{% url 'import_all' %}">Update</a>{% endblock %}</li>
                <!--<li>{% block nav-update-cc-quotes %}<a href="{% url 'import_cortalconsors_quotes' %}">Update from Cortalconsors</a>{% endblock %}</li>-->
                <!--<li>{% block import_pdf %}<a href="{% url 'update_pdfs' %}">Import PDFs (CortalConsors)</a>{% endblock %}</li>-->
                <!--<li>{% block nav-outbank %}<a href="{% url 'import_outbank' %}">Import Outbank</a>{% endblock %}</li>-->
                <!--<li>{% block nav-update-yahoo %}<a href="{% url 'import_historic_quotes' %}">Update from Yahoo</a>{% endblock %}</li>-->
                <!--<li>{% block nav-update-bf %}<a href="{% url 'update_stocks_boerse_frankfurt' %}">Update from Börse Frankfurt</a>{% endblock %}</li>-->

            </ul>
        </div>

        {% endblock %}

        <div id="main">
            {% block content %}
                Say my name
            {% endblock %}
        </div>
        <div id="loading">
            <img src="{% static "loading.gif" %}" />
            <div class="smaller>
                loading
            </div>
        </div>
    </body>
</html>