{% extends "base.html" %}
{% load admin_urls %}

{% block content %}
    {% if prices %}
    We did some importing of quotes, these are the results:
    <div class="pdf_item">
        <table border=1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in prices %}
               <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.date }}
                    </td>
                    <td>
                        {{ item.price }}
                    </td>
                    <td>
                        {{ item.status }}
                    </td>
               </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}

    We did some importing of Outbank Status
    {% for item in money %}
        <div class="quote_item">
        {% if item.no_yahoo_id %}
            Please <a href="{% url 'admin:securities_security_change' item.stock_id %}">add yahoo id for {{ item.name }}</a>
        {% endif %}
        {% if item.no_quote %}
            Please verify yahoo id {{ item.name }} {{ item.yahoo_id }}, could not retrieve quote
        {% endif %}
        {% if not item.no_quote and not item.no_yahoo_id %}
            Successfully retrieved quotes for {{ item.name }} ({{ item.yahoo_id }})
        {% endif %}
        </div>
    {% endfor %}
    {% if transactions %}
    We did some importing of PDFs from CortalConsors, these are the results:

        <div class="pdf_item">
            <table border=1>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Nominal</th>
                    <th>Value</th>
                    <th>Cost</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in import_results.transactions %}
                   <tr>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.date }}
                        </td>
                        <td>
                            {{ item.type }}
                        </td>
                        <td>
                            {{ item.nominal }}
                        </td>
                        <td>
                            {{ item.value }}
                        </td>
                        <td>
                            {{ item.cost }}
                        </td>
                        <td>
                            {{ item.status }}
                        </td>
                   </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}