{% extends "base.html" %}
{% load filters %}
{% load admin_urls %}
{% load staticfiles %}

{% block extrahead %}
<script src="{% static "core/canvasjs.min.js" %}" type="text/javascript"></script>
<script src="{% static "core/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
        {
              title:{
                    text: "Portfolio Overview",
                    fontFamily: "Impact",
                    fontWeight: "normal"
              },

              legend:{
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
              },
              data: [
              {
                    startAngle: 270,
                    indexLabelFontSize: 20,
                    indexLabelFontFamily: "Garamond",
                    indexLabelFontColor: "darkgrey",
                    indexLabelLineColor: "darkgrey",
                    indexLabelPlacement: "outside",
                    type: "doughnut",
                    showInLegend: true,
                    dataPoints: [
                    {% for line in content %}
                        {  y: {{ line.1 }}, legendText:"{{ line.0 }}", indexLabel: "{{ line.2 }}" },

                    {% endfor %}
                    ]
             }
             ]
       });

        chart.render();
    }
</script>
{% endblock %}

{% block content %}
    <div id="chartContainer" style="height: 400px; width: 100%;">
    </div>
{% endblock %}
