{% extends "base.html" %}
{% load staticfiles %}




{% block extrahead %}
<script type="text/javascript">
$( document ).ready(function() {
    {% if not dates %}
        document.getElementById("development_click_form").submit();
    {% else %}
        var data = {
            labels: {{ dates|safe }},
            datasets: [
                {
                    axis: 0,
                    label: "Portfolio Development",
                    fillColor: "rgba(194,244,0,0.5)",
                    strokeColor: "#8FB700",
                    pointColor: "#8FB700",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#CB8800",
                    pointHighlightStroke: "CB8800",
                    data: {{ pf_values }}
                },
                {
                    axis: 1,
                    label: "Cash Development",
                    fillColor: "rgba(194,244,0,0.5)",
                    strokeColor: "#CB8800",
                    pointColor: "#CB8800",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#CB8800",
                    pointHighlightStroke: "CB8800",
                    data: {{ cash_values }},
                }
            ]
        };

            var ctx = document.getElementById("myChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(data);
            // var myLineChart = new Chart(ctx).MultiAxisLine(data, {responsive: true,drawScale: [0,1],drawScaleStroke: [0,1]});
            var legend = myLineChart.generateLegend();
            $("#development-legend").html(legend);
    {% endif %}
});
</script>
{% endblock %}


{% block content %}
    {% if dates %}
        <canvas id="myChart" width="800" height="400"></canvas>
        <div id="development_roi">
            {{ roi }}%
            <div class="smaller">
                Return on investment
            </div>
        </div>
    {% endif %}
    <form id="development_click_form" action="{% url 'core.views.portfolio_development' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update" />
    </form>
{% endblock %}

