{% extends "base.html" %}
{% load staticfiles %}




{% block extrahead %}
<script type="text/javascript">
$( document ).ready(function() {
    {% if not dates %}
        document.getElementById("development_click_form").submit();
    {% else %}
        var data = {
            labels: {{ dates|safe }},
            datasets: [
                {
                    label: "Portfolio Development",
                    fillColor: "#C2F400",
                    strokeColor: "#FF9800",
                    pointColor: "#FF9800",
                    pointStrokeColor: "#FFF",
                    pointHighlightFill: "#CB8800",
                    pointHighlightStroke: "CB8800",
                    data: {{ pf_values }}
                }
            ]
        };

            var ctx = document.getElementById("myChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(data);
    {% endif %}
});
</script>
{% endblock %}


{% block content %}
    {% if dates %}
        <canvas id="myChart" width="800" height="400"></canvas>
        <div id="development_roi">
            {{ roi }}%
            <div class="smaller">
                Return on investment
            </div>
        </div>
    {% endif %}
    <form id="development_click_form" action="{% url 'core.views.portfolio_development' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update" />
    </form>
{% endblock %}

