{% extends "base.html" %}
{% load filters %}
{% load admin_urls %}
{% load staticfiles %}

{% block extrahead %}
<script src="{% static "core/Chart.min.js" %}" type="text/javascript"></script>
<script src="{% static "core/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
<script type="text/javascript">
$( document ).ready(function() {
    {% if not portfolio_content %}
        document.getElementById("click_form").submit();
    {% else %}
        var data = [
                {% for line in portfolio_content %}
                    {% if line|keyvalue:'name' != 'Total' %}
                        {
                            value: {{ line|keyvalue:'profit'|absolute|cut:0 }},
                            label: "{{ line|keyvalue:'name' }}: {{ line|keyvalue:'profit'|cut:1 }} ({{ line|keyvalue:'roi' }})",
                            color: "{{ line|keyvalue:'color' }}",
                            highlight: "{{ line|keyvalue:'highlight' }}",
                        },
                    {% endif %}
                {% endfor %}

        ];
        var ctx = document.getElementById("roi_cake_chart").getContext("2d");
        var myLineChart = new Chart(ctx).PolarArea(data, {tooltipTemplate: "<%if (label){%><%=label%> <% }%>",});
    {% endif %}


});

</script>
{% endblock %}


{% block content %}

    <form id="click_form" action="{% url 'core.views.portfolio_overview' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Update" />
    </form>
    {% if portfolio_content %}
        <canvas id="roi_cake_chart" width="500" height="300"></canvas>
        <div id="title_roi_overview" class="sub_title">
            2. Profit contribution per security
        </div>
    {% endif %}
    {% if portfolio_content %}
        <div style="clear:both; margin-bottom: 4em;"></div>
        <div id="title_stock_table" class="sub_title">
            3. Securities in portfolio, current and past value
        </div>
        <div id="table">
        <table border=1>
        <thead>
            <tr>
            {% for attr_head in header %}
               <th>{{ attr_head }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in portfolio_content %}
               <tr>
                    {% for key in walk_through_header %}
                        <td>
                        {% if key == 'name' and line|keyvalue:key != 'Total' %}
                            <a href="{% url 'admin:securities_security_change' line.stock_id %}">
                        {% endif %}
                        {{ line|keyvalue:key|nicenumber }}
                        {% if key == 'name' %}
                            </a>
                        {% endif %}
                        </td>

                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    {% endif %}

{% endblock %}



