{% extends "base.html" %}
{% load filters %}
{% load admin_urls %}

{% block content %}
    <form action="{% url 'core.views.portfolio_overview' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Execute" />
    {% if portfolio_content %}
        <div id="table">
        <table border=1>
        <thead>
            <tr>
            {% for attr_head in header %}
               <th>{{ attr_head }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in portfolio_content %}
               <tr>
                    {% for key in walk_through_header %}
                        <td>
                        {% if key == 'name' and line|keyvalue:key != 'Total' %}
                            <a href="{% url 'admin:securities_security_change' line.stock_id %}">
                        {% endif %}
                        {{ line|keyvalue:key|nicenumber }}
                        {% if key == 'name' %}
                            </a>
                        {% endif %}
                        </td>

                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    {% endif %}
    </form>
    {% if portfolio %}
        <img src='{% url 'roi_cake_png' portfolio from_date to_date %}' />
    {% endif %}
{% endblock %}