{% extends "base.html" %}
{% load staticfiles %}




{% block extrahead %}
<script type="text/javascript">
$( document ).ready(function() {
    {% if not dates %}
        document.getElementById("rolling_click_form").submit();
    {% else %}
        var data = {
            labels: {{ dates|safe }},
            datasets: [
                {
                    label: "Rolling Profitability (1 year in the past)",
                    fillColor: "#C2F400",
                    strokeColor: "#FF9800",
                    pointColor: "#FF9800",
                    pointStrokeColor: "#FFF",
                    pointHighlightFill: "#CB8800",
                    pointHighlightStroke: "CB8800",
                    data: {{ roi_list }}
                },
            ]
        };

        var ctx = document.getElementById("myChart").getContext("2d");
        var myLineChart = new Chart(ctx).Line(data);
    {% endif %}

});
</script>
{% endblock %}




{% block content %}

    {% if dates %}
        <canvas id="myChart" width="800" height="400"></canvas>
        <div id="title_rolling" class="sub_title">
            5. Moving profitability
        </div>
    {% endif %}
    <form id="rolling_click_form" action="{% url 'core.views.rolling_profitability' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update" />
    </form>
{% endblock %}